.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
}

.search-bar {
  width: 30vw;
  margin-left: 25px;
  margin-bottom: 6px;
}

.MuiAutocomplete-inputRoot {
  padding: 2px !important;
}

.card-high-temp {
  background-color: rgb(255 0 0 / 53%) !important;
  height: 40vh;
  margin-top: 50px;
  margin-left: 10px;
}

.MuiAppBar-colorPrimary {
  color: #fff !important;
  background-color: #464646 !important;
}

.card-low-temp {
  background-color: rgb(31 31 218 / 47%) !important;
  height: 40vh;
  margin-top: 50px;
  margin-left: 10px;
}

.temp {
  display: flex;
  flex-direction: row;
}

.sub {
  margin-left: 8vw;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
